@use 'mixins';

.submit-button, .secondary-button {
    display: block;
    padding: .625rem;
    background-color: var(--secondary-color);
    color: var(--button-text);
    font-size: var(--step--1);
    text-align: center;
    text-decoration: none;
    @include mixins.depth-3-noborder;

}

.submit-button {
    width: 100%;
    // border: none;


    @media (min-width: 56.25rem) {
        max-width: 25rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.secondary-button {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.submit-button:hover, .secondary-button:hover {
    @include mixins.depth-6-noborder;
    background-color: var(--secondary-light);

}