@use 'mixins';
.featured-work-container {

    h2 {
        text-align: center;
    }
}
.featured-work-grid {
    display: grid;
    justify-items: center;

    @media (min-width: 50rem) {
        grid-template-columns: repeat(2, minmax(0, 590px));
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }
}

.featured-work-card {
    @include mixins.depth-3;
    max-width: 590px;
    margin: min(10vh, 1.25rem) 1rem;
    padding: .25rem;
    box-sizing: border-box;

    a {
        text-decoration: none;
        color: var(--primary-text);

    }

    h3 {
        text-align: center;
        // font-family: 'Edo', sans-serif;
        font-weight: 300;
        font-size: var(--step--1);
        margin: .25rem 0;
    }
}

.featured-work-card:hover {
    @include mixins.depth-6;
    background-color: var(--interaction-hover);

    img {
        filter: var(--image-brightness-hover);
    }
}



