@use 'variables';

.error-page-container {
    min-height: 100vh;
}
.error-page {
    margin-top: variables.$min-vh-rem;
    margin-bottom: variables.$min-vh-rem;
    text-align: center;

    h1 {
        font-size: var(--step-6)
    }

    p {
        font-size: var(--step-0);
    }

    figcaption {
        font-size: var(--step--1);
        font-style: italic;
        color: var(--secondary-text)

    }
}