footer {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    color: var(--text-on-primary);
    padding: .5rem 1rem;
}

.footer-icons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;

    a {
        line-height: 0;
    }


    svg {
        width: 3rem;
        fill: var(--button-text);  
        transition: fill .5s ease;      
    }

    svg:hover {
        fill: var(--secondary-light);

    }

}

@media (min-width: 600px) {
    footer {
        padding: 1rem;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-icons {
        margin-top: 0;
    }
}