nav {
    background-color: var(--nav-background);
    backdrop-filter: blur(.625rem);
    width: 100%;
    height: 100svh;
    position: fixed;
    top: 0;
    z-index: 9998;
    transition: background-color .75s ease, backdrop-filter .75s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
    position: fixed;
    top: 0;

    @media (min-width: 50rem) {
        background-color: transparent;
        backdrop-filter: blur(0);
        display: block;
    }
}

nav ul {
    list-style: none;
    font-family: 'Edo', sans-serif;
    font-size: 2.5rem;
    margin: 0;
    padding: 0 0 .5rem;
    text-align: center;

    @media (min-width: 50rem) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 2rem;
        background: linear-gradient(to left, var(--background-color) 0%, var(--background-color) 500px, transparent 700px);
        padding: 0 4rem 0 0;
    }

}

nav li {
    padding: .5rem 0;

    @media (min-width: 50rem) {
        padding: .25rem .75rem;
    }
}

nav li a {
    color: var(--primary-text);
    text-decoration: none;
    transition: color .2s ease-in-out;
}

nav li a:hover {
    color: var(--primary-light);
}

.active-menu-item a {
    color: var(--primary-color);
}

nav.closed {
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
}

nav.open {
    transform: translateX(0);
    transition: transform 1s linear(0, 0.138 4.2%, 0.271 8.8%, 0.402 13.9%, 0.542 19.9%, 0.705 27.5%, 0.837 34.2%, 0.888 37.1%, 0.932 39.8%, 0.969 42.3%, 1 44.7%, 0.966 48%, 0.943 51.1%, 0.935 52.7%, 0.929 54.3%, 0.926 55.9%, 0.925 57.5%, 0.928 60.2%, 0.937 63.1%, 0.949 65.9%, 0.984 73.1%, 1 77.4%, 0.993 80.8%, 0.991 84.2%, 0.999 95%, 1)
}

@media (min-width: 50rem) {

    nav.closed, nav.open {
        transform: translateX(0);
        height: 2.8125rem;

    }
}

.theme-toggle {
    background-color: transparent;
    border: none;
    width: 2.125rem;
    padding: 0;
    cursor: pointer;

    svg {
        fill: var(--primary-text);
        transition: fill .5s ease-in-out;
    }

    @media (min-width: 50rem) {
        position: fixed;
        right: 1rem;
        top: .375rem;
    }
}