@use 'mixins';

/* Main timeline container */
.wp-block-atlb-timeline-block {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  font-size: var(--step--1);
}

/* Timeline vertical bar */
.timeline__bar {
  position: absolute;
  width: 4px;
  background-color: var(--primary-color);
  top: 0;
  bottom: 0;
  left: 70%;
  transform: translateX(-50%);
  z-index: 1;

  @media (min-width: 43.75rem) {
    left: 50%;
  }
}

/* Single timeline item container */
.wp-block-atlb-single-timeline-item {
  position: relative;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  gap: 3rem;
}

@media (min-width: 43.75rem) {
.wp-block-atlb-single-timeline-item:nth-child(odd) {
  flex-direction: row-reverse;
    .timeline__date {
        text-align: right;
    }
}
}

/* Timeline marker (circle with icon) */
.timeline__marker {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 4px solid #007bff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: absolute;
  left: 70%;
  transform: translateX(-50%);

  @media (min-width: 43.75rem) {
    left: 50%;
  }
}

.timeline__marker i {
  color: #007bff;
  font-size: 14px;
}

/* Content and date containers */
.timeline__content {
  width: 100%;
  padding: 15px;
  background-color: var(--background-surface);
  border-radius: 5px;
  @include mixins.depth-3;
  z-index: 2;

  @media (min-width: 43.75rem) {
    width: 42%;
  }
}

.timeline__date {
      width: 43%;
  padding: 15px;
  border-radius: 5px;

  z-index: 2;
}



.highlight {
    color: red;
}

.dim {
  filter: brightness(.75);
}