@use 'mixins';
@use 'variables';


.wp-home-section .wp-block-group, .work-display .work-intro, .about-page .intro-section, .project-overview, .project-requirements, .key-features, .development-process {
    width: 90%;
    max-width: 55rem;
    margin: 0 auto variables.$min-vh-rem;
}

.is-layout-constrained {
    width: 100%;
    max-width: 55rem;
    margin: 0 auto;
    // margin: 0 auto variables.$min-vh-rem;

    @media (min-width: 46.75rem) {
        width: 90%;
    }
}

.development-process {
    .wp-block-group {
        // @include mixins.depth-3;
        padding: 2rem;
        margin: 4rem auto;
    }
}

.wp-block-group {
    img {
        padding: .5rem;
        background-color: var(--background-surface);
        @include mixins.depth-3-noborder;
        max-width: 100%;
        height: auto;
    }
}

.challenge-solution {
    margin-bottom: variables.$min-vh-rem;

    .wp-block-column {
        @include mixins.depth-3;
        padding: 2rem;
        // box-shadow: -4px 0 0 var(--primary-color);
        // border-radius: 5px
    }

    .wp-block-columns-is-layout-flex {
        gap: 3rem;
            
        @media (min-width: 46.75rem) {
            gap: clamp(3rem, 5%, 5rem);
        }
    }
}


.project-requirements.alignfull, .wp-block-group.alignfull, .key-features.alignfull, .development-process.alignfull {
        width: 90%;
        max-width: 85rem;
        margin: 0 auto variables.$min-vh-rem;
}

.project-requirements.alignwide, .wp-block-group.alignwide, .key-features.alignwide, .development-process.alignwide {
        width: 90%;
        max-width: 70rem;
        margin: 0 auto variables.$min-vh-rem;
}

.wp-block-columns-is-layout-flex {
    padding: 1rem 0;
    margin: 0 auto;
    gap: 0rem;

    @media (min-width: 48.875rem) {
        gap: 3rem;
    }



}

.column-reverse {
    flex-direction: column-reverse;

}

.about-details-section {
    width: 90%;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 48.875rem) {

    .column-reverse {
        flex-direction: row;

    }
    .about-details-section .wp-block-image img {
        min-height: 30.375rem;
    }
}
// @media (min-width: 48.875rem) {
//     .about-details-section .wp-block-image img {
//         min-height: 34.375rem;
//     }
// }


h2.wp-block-heading {
    font-family: 'Edo', sans-serif;
    font-weight: 400;
    margin-top: 0;
    font-size: var(--step-4)
}

.wp-block-gallery-is-layout-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    figure {
        min-width: 16rem;
    }
}




